
@{
    ViewData["Title"] = "ForgetPassword";

    @section Scripts
    {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
}
@model ForgetPasswordViewModel
@if (TempData["success"] != null)
{
    <div class="row col-5 offset-7 ">
        <div class="alert alert-success alert-dismissible fade show ">
            <strong>İşlem Başarılı!</strong> @TempData["success"]
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    </div>
}
<div class="row col-5 offset-7 ">
    <div class="alert alert-danger alert-dismissible fade show " asp-validation-summary="ModelOnly">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
</div>
<section class="d-flex" style="height:83vh">
    <div class="container-fluid h-custom" >
        <div class="row d-flex justify-content-center align-items-center h-100">
          
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <p class="text-center h2 fw-bold mb-4 mx-1 mx-md-4 mt-4">Şifremi Unuttum</p>
                <p class="text-center h5 fw-bold mb-4 mx-1 mx-md-4 mt-4 small row text-info">Şifre değişim linki e-posta adresinize gönderilecektir.</p>

                <form  method="post" >
                   

                  

                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" asp-for="Email"></label>
                        <input type="text" class="form-control" asp-for="Email" />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>


           
                  

                    <div class="text-center text-lg-center mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                    Gönder
                        </button>
                    </div>

                </form>
                </div>
            </div>
        
    </div>

</section>

